/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Backdrop Container */
.backdrop-container {
  position: absolute;
  width: 100%;
  min-height: 100% !important;
  z-index: 1;
  overflow: hidden;
}

/* Backdrop Media (video / gif / img) */
.backdrop-media {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  width: 100%;
  min-height: 100% !important;
  object-fit: cover;

  transition: opacity 0.5s ease-in-out;
}

.backdrop-media.loading {
  opacity: 1;
}

.backdrop-media.loaded {
  opacity: 1;
}


/* Video backgrounds */
video.backdrop-media {
  object-fit: cover;
}
